nav {
  display: flex;
}
body {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  margin-right: 30px;
}
.primary-btn {
  color: white;
  text-align: center;
  background-color: orange;
  padding: 10px 15px;
  border: none;
}
.orange {
  color: orangered;
}
.tittle {
  width: 200px;
}
nav a {
  text-decoration: none;
  color: lightslategray;
}
