nav {
  display: flex;
  justify-content: space-between;
}
body {
  font-family: "Merriweather", serif;
  font-weight: 600px;
  font-style: normal;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  margin-right: 30px;
}
.primary-btn {
  color: white;
  text-align: center;
  background-color: orange;
  padding: 5px 15px;
  border: none;
}
.orange {
  color: orangered;
}
.tittle {
  width: 200px;
}
nav a {
  text-decoration: none;
  color: lightslategray;
}
.header {
  background-color: rgb(238, 247, 244);
  background-image: url(../images/mountains-fall.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  display: flex;
  padding: 10px 30px 0px 150px;
  align-items: center;
}
.banner .profile {
  width: 500px;
  height: 400px;
}
.banner-greeting {
  font-size: 45px;
}
.banner-tittle {
  font-size: 85px;
  font-weight: 700;
}
